*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/shapiraomri/countrylist/ExampleInstrumentedTest.kt
/app/src/main/java/com/shapiraomri/countrylist/helpers/BordersAdapter.kt
/app/src/main/java/com/shapiraomri/countrylist/helpers/CountriesAdapter.kt
/app/src/main/java/com/shapiraomri/countrylist/helpers/CountriesSearchAdapter.kt
/app/src/main/java/com/shapiraomri/countrylist/helpers/DynamicSearchAdapter.kt
/app/src/main/java/com/shapiraomri/countrylist/models/State.kt
/app/src/main/java/com/shapiraomri/countrylist/services/CountryService.kt
/app/src/main/java/com/shapiraomri/countrylist/services/ServiceBuilder.kt
/app/src/main/java/com/shapiraomri/countrylist/CountriesFragment.kt
/app/src/main/java/com/shapiraomri/countrylist/MainActivity.kt
/app/src/main/java/com/shapiraomri/countrylist/StateBordersFragment.kt
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/layout/activity_main.xml
/app/src/main/res/layout/border_state_item.xml
/app/src/main/res/layout/fragment_countries.xml
/app/src/main/res/layout/fragment_state_borders.xml
/app/src/main/res/layout/state_item.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.png
/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/app/src/main/res/mipmap-mdpi/ic_launcher.png
/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/app/src/main/res/values/colors.xml
/app/src/main/res/values/strings.xml
/app/src/main/res/values/themes.xml
/app/src/main/res/values-night/themes.xml
/app/src/main/AndroidManifest.xml
/app/src/test/java/com/shapiraomri/countrylist/ExampleUnitTest.kt
/app/.gitignore
/app/build.gradle
/app/proguard-rules.pro
